#main-header {
    background:url(../media/images/guitar-neck.png)bottom center no-repeat;
	-webkit-background-size: 100%;
  	-moz-background-size: 100%;
  	-o-background-size: 100%;
  	background-size: 100%;

  	position: relative;
    z-index: 3;
   
    background-size: cover;
     height: 900px; 
}
#welcome-logo{
	padding: 150px;
}
#main-nav li{
	border-radius: none;
}
#main-nav li a{
	background-color: transparent;
	color: #FFC200;
	border-radius: none;
}
#main-nav li a:hover{
	border-bottom: 2px solid #FFC200;
	font-weight: bold;
}
#main-navigation{
	background-color: rgba(255,255,255,0.2);
	border-bottom: none;
	color: #fff;
}

#main-navigation li a{
	color: #fff;
}